.container {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #1E1E1E;
  background: #F5F5F3;
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aditional_info{
 font-weight: 400;
 font-size: 12px;
 line-height: 14px;
 margin: auto;
 margin-top: 5px;
}

.main_navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px 32px;
}

.logo {


}

.caption {
  color: #1E1E1E;
}

img {

}