body {
  display: flex;
  justify-content: center;
}

.primary_text_color {
  color: #1E1E1E;
}

.secondary_text_color {
  color: #686363;
}

.container {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #1E1E1E;
  background: #F5F5F3;
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aditional_info {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin: auto;
  margin-top: 5px;
}

.main_navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 24px 32px;
}

a {
  text-decoration: none;
  color: #1E1E1E;
}

.logo {
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
  display: flex;
  align-items: center;
}

.product_items,
.administration,
.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.product_items>li,
.administration>li,
.breadcrumbs>li {
  list-style-type: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.product_items {
  width: 404px;
}

.administration {
  width: 172px;
}

.breadcrumbs {
  width: 264px;
  margin-left: 32px;
}

.breadcrumbs>li:not(:nth-child(3)) {
  color: #686363;
}

.breadcrumbs>li:not(:last-child)::after {
  content: "/";
  position: relative;
  left: 4px;
}

.content {
  margin: 24px;
  display: flex;
  gap: 32px;

}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  margin-top: 4px;
  margin-bottom: 4px;

}

.product_photo {
  width: 757px;
  height: 716px;
}

.text_container {
  display: flex;
  flex-direction: column;
  margin-right: 160px;

}

.text_20px {
  font-size: 20px;
  line-height: 23px;
}

.additional_info {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.short_description {
  margin-top: 50px;
  margin-bottom: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.size_selection-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.header_selection {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 14px;
}

.link_text_decoration {
  text-decoration: underline;
}

.size_button {
  display: flex;
  margin-bottom: 36px;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 432px;
  height: 71px;
}

.radiobox {
  display: none;
}

.size_button_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px 20px;
  gap: 10px;
  width: 133px;
  height: 44px;
  border-radius: 8px;
}

.border_chousen {
  border: 1px solid #686363;
}

.border_nonchousen {
  border: 1px solid #E9E5E5;
}

.size_option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 67px;
  height: 41px;
}

.color_selection_comtainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;
  width: 432px;
  height: 62px;
}

.color_selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
}

.radiobutton_circle {
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.radiobutton_circle:first-child {
  background: linear-gradient(213.88deg, #AE7B4B -13.81%, #AE7B4B 19.06%, rgba(182, 137, 94, 0.8) 40.97%, #E9DDD2 65.92%, #AE7B4B 103.04%);
}

.radiobutton_circle:nth-of-type(2) {
  background: linear-gradient(213.88deg, #CFCFCF -13.81%, #CFCFCF 19.06%, rgba(207, 207, 207, 0.8) 40.97%, #949494 65.92%, #CFCFCF 103.04%);
}

.radiobutton_circle:nth-of-type(3) {
  background: linear-gradient(213.88deg, #BBA14F -13.81%, #B59452 19.06%, #BBA14F 36.1%, #E9E3D2 61.66%, #BBA14F 84.78%, #BBA14F 103.04%);

}

.circle {
  width: 32px;
  height: 32px;
  left: 84px;
  top: 0px;
  border-radius: 50%;
  border: 1px solid #1E1E1E;
}