:root {
  --greyPaleteGray_100: #F1F5F9;
  --greyPaleteGray_200: #E2E8F0;
  --greyPaleteGray_300: #CBD5E1;
  --greyPaleteGray_400: #94A3B8;
  --greyPaleteGray_500: #64748B;
  --greyPaleteGray_600: #475569;
  --greyPaleteGray_700: #334155;
  --greyPaleteGray_800: #1E293B;
  --greyPaleteGray_900: #0F172A;
  --greyPaleteWhite: #FFFFFF;
  --secondaryGreen_100: #04D361;
  --secondaryGreen_200: #1B873F;
  --secondaryOrange: #FBA94C;
  --primaryPurple_100: #996DFF;
  --primaryPurple_200: #7C3AED;
}

.container {
  background: #F8FAFC;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
  font-family: 'Titillium Web';
  padding: 200px;
  flex-wrap: wrap;
}

.primary_purple_200 {
  color: var(--primaryPurple_200);
}

.grey_palete_800 {
  color: var(--greyPaleteGray_800);
}

.white_palete {
 color: #F8FAFC;
}

.offer_card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px 32px 32px;
  gap: 10px;
  height: 454px;
  background: var(--greyPaleteWhite);
  border: 1px solid var(--greyPaleteGray_200);
  border-radius: 10px;
  max-width: 384px;
  max-height: 454px;
}

.offer_card:hover {
  border: 1px solid var(--primaryPurple_200);
}

.offer_card:nth-child(2) {
  background: var(--greyPaleteGray_900);
  color: #F8FAFC;
}

.offer_card:nth-child(2)::after {
position: absolute;
content: "Mais vantajoso";
background-color: var(--secondaryOrange);
left: calc(50% - 133px/2 - 0.5px);
top: -18px;
border-radius: 6px;
font-weight: 700;
font-size: 12px;
line-height: 18px;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--greyPaleteGray_900);
padding: 8px;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 100%;
}

.line {
  align-self: stretch;
}

.h1_price {
  display: flex;
  justify-content: space-between;
}

.divider {
  border: 1px solid var(--greyPaleteGray_200);
  height: 0px;
}

.peculiarities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 100%;
}

.item_peculiarities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 11px;
  margin-bottom: -24px;
}

h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 49px;

}

.caption {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.price {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 55px;
}

.CTA {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px;
  gap: 10px;
  width: 320px;
  height: 56px;
  border-radius: 4px;
  align-self: stretch;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.outlined_CTA {
  border: 1px solid var(--greyPaleteGray_800);
  border-radius: 4px;
  background: var(--greyPaleteWhite);
}

.outlined_CTA:hover {
  background: #1E293B;
  color: var(--greyPaleteWhite);
}

.filled_CTA {
  background: var(--primaryPurple_100);
  color: var(--greyPaleteWhite);
}

.filled_CTA:hover {
  background: var(--primaryPurple_200);
}

.short_information {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.short_information p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.06em;
}